/*----------------------
Imports
------------------------*/ 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@1,100..900&family=Roboto:ital,wght@0,300;0,400;1,400&display=swap');

@import url('./flex-styles.css');
@import url('./navigation.css');
@import url('./button-styles.css');

/*----------------------
Root Styles
------------------------*/ 
:root {

    /* Fonts */
    --font1: 'Montserrat', sans-serif;
    --font2: 'Roboto', sans-serif;

    /* Colors */
    --orange: #c58b2d;
    --white: #fff;
    --black: #000;
    --light-gray: #bbbbbb;
}

/* Base Styles */

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font1);
}

html, body { 
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font1);
}

p, a {
    font-family: var(--font2);
}

b {
    font-weight: 500;
}

em {
    font-style: italic;
}

section {
    width: 100%;
}

figure {
    position: relative;
    flex-flow: column;
    padding: 5px;
}

figcaption {
    position: absolute;
    bottom: 5px;
    padding: 5px;
    font-family: var(--font2);
    font-size: 13px;
    color: var(--light-gray);
    background: var(--black);
}

blockquote {
    margin-top: 20px;
    padding-left: 15px;
    font-size: 20px;
    border-left: 3px solid var(--orange);
}

.container {
    flex-direction: column;
    width: 100%;
}

.clear {
    clear: both;
    height: 90px;
}

/*----------------------
Hero Section
------------------------*/

.hero {
    padding: 30px 0;
    color: var(--white);
    background: var(--black);
}

/* .post__hero {
    margin-bottom: 30px;
} */

.post__hero-img {
    object-fit: cover;
    object-position: 50% 25%;
    width: 100%;
    height: 500px;
}

.post2__hero-img {
    object-fit: cover;
    object-position: 50% 25%;
    width: 1520px;
    height: 500px;
}

.hero__img {
    object-fit: cover;
    width: 900px;
    height: 340px;
}

.hero__post {
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
}

.hero__title {
    font-size: 30px;
}

.hero__btn {
    margin: 0;
}

.hero__btn:hover {
    background: #d8a047;
}

/*----------------------
Sidebar Section
------------------------*/
.sidebar {
    width: 15%;
    flex-direction: column;
    margin: 50px;
}

.popular__title {
    font-size: 25px;
    font-weight: 500;
}

.popular__title-list li:last-child {
    border: none;
}

.popular__item {
    padding: 20px 0;
    border-bottom: 1px solid var(--light-gray);
}

.popular__item a {
    color: var(--orange);
}
    .popular__item a:hover {
        color: var(--black);
    }

/*----------------------
Article List Section
------------------------*/
.main {
    width: 100%;
    padding: 0px 40px;
}

.articles__section {
    margin-top: 40px;
}

.title {
    margin: 50px;
    width: 100%;
}

.title h1 {
    font-size: 45px;
    font-weight: 600;
}

.article__list {
    display: grid;
    /* grid-template-columns: 400px 400px 400px; */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    place-items: center;
}

.article__item {
    max-width: 400px;
    margin: 15px 0;
}

.article__item .text {
    font-family: var(--font2);
}

.cover {
    object-fit: cover;
    width: 400px;
    height: 450px;
}

.img__container {
    width: 400px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
}

/* .img__container img {
    width: 100%;
    height: 100%;
} */

.article__meta {
    justify-content: space-between;
}

/* Blog post cards on homepage */

.post__details > * {
    margin: 13px 0;
    padding: 0 8px
}

.post__details h3 {
    font-size: 25px;
    font-weight: 600;
}

.text__link {
    color: var(--black);
}

.text__link:hover {
    color: var(--orange);
}

.post__details .text {
    margin-bottom: 16px;
}


/*----------------------
Author Details (for a blog post)
------------------------*/
.author {
    margin-top: 20px;
}
.icon__img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.details > * {
    margin-top: 8px;
    padding: 0 10px;
}

.author__socials img {
    width: 24px;
}

.author__socials a:hover {
    color: var(--orange);
}


/*----------------------
Blog Post Section
------------------------*/

.post__section {
    max-width: 1100px;
}

.post__title {
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
}

.post__title > * {
    margin: 5px 0;
}

.post__title h1 {
    font-size: 30px;
    font-weight: 600;
}

.post__title p {
    color: var(--light-gray);
}

.post__content {
    padding: 20px 0;
    font-size: 18px;
    line-height: 25px;
    word-wrap: break-word;
}


/*----------------------
Footer
------------------------*/

.footer {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 10px; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding: 30px;
    color: var(--white);
    background: var(--black);
}

.footer__socials {
    text-align: right;
}

.footer__socials svg {
    width: 24px;
}

.fb {
  grid-area: fb;
}

.twitter {
  grid-area: twitter;
}

.ig {
  grid-area: ig;
}

/*----------------------
Media Queries
------------------------*/

@media only screen and (min-width: 1440px) {
    figcaption {
        left: 45px;
    }
}

@media only screen and (min-width: 2000px) {
    figcaption {
        left: 5px;
    }
}

@media only screen and (max-width: 1024px) {
    .post2__hero-img {
        width: 1000px;
    }

    .hero {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .hero {
        flex-flow: column;
        align-items: center;
    }

    .hero__img {
        width: 680px;
    }

    figcaption {
        left: 120px;
    }

    .menu__icon {
        display: flex;
    }

    .nav, .nav__subscribe {
        display: none;
    }

    .hero__post > * {
        padding: 15px 0;
    }

    .hero__btn {
        width: 150px;
        padding: 8px;
    }
}

@media only screen and (max-width: 680px) {
  
    .container {
        display: flex;
        align-items: center;
    }
  
    .main {
        justify-content: center;
    }

    .sidebar {
        width: 300px;
        padding: 5px;
        margin: 10px 0;
    }

    .article__item {
        margin: 20px 0;
    }
}

@media only screen and (max-width: 426px) {
    .main {
        flex-direction: column-reverse;
    }

    .post2__hero-img {
        width: 400px;
        height: 300px;
    }

    .sidebar {
        width: 250px;
        margin-top: 30px;
        padding: 15px;
        border-top: 1px solid var(--light-gray);
    }

    figcaption {
        left: 5px;
        font-size: 8px;
    }

    .hero__post {
        width: 200px;
    }

    .hero__title {
        font-size: 20px;
    }

}

@media only screen and (max-width: 376px) {

    .hero__img {
        width: 450px;
        height: 200px;
    }

    figcaption {
        left: 15px;
    }

    .article__list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .article__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px;
    }

    .img__container {
        width: 300px;
    }

    .img__container>a>img {
        object-fit: cover;
        object-position: 50% 25%;
    }
}

@media only screen and (max-width: 320px) {
    figcaption {
        left: 45px;
    }
}